:root {
  --primary-1: #495e57;
  --primary-2: #f4ce14;
  --highlight-1: #edefee;
  --highlight-2: #333333;
  --secondary-1: #ee9972;
  --secondary-2: #fbdabb;
  --typeface-primary: 'Markazi Text', serif;
  --typeface-secondary: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--typeface-primary);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

h2 {
  font-family: var(--typeface-primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

h3 {
  font-family: var(--typeface-secondary);
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: var(--typeface-secondary);
  font-size: 16px;
  font-weight: 400;
}

i {
  margin-right: 4px;
}

header {
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  padding: 30px 0;
  grid-template-areas: '. . logo logo . nav nav nav nav nav . .';
}

header img {
  grid-area: logo;
  align-self: center;
}

.menu-icon {
  display: none;
}

header nav {
  grid-area: nav;
  align-self: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a {
  color: var(--primary-1);
  font-family: var(--typeface-secondary);
  font-weight: 800;
  font-size: 16px;
  text-transform: capitalize;
}

a {
  display: block;
  position: relative;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

header a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--primary-2);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

header a:hover::after,
header a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

footer {
  background-color: var(--highlight-1);
}

.footer-section {
  background-color: var(--highlight-1);
  margin: 0 auto;
  max-width: 1440px;
  color: var(--highlight-2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  padding: 3rem 0;
  grid-template-areas: '. . logo logo d-nav d-nav contact contact social social . .';
}

footer img {
  grid-area: logo;
}

footer h3 {
  padding: 30px 0 20px;
}

footer a:link {
  color: var(--highlight-2);
}

footer a:visited {
  color: var(--highlight-2);
}

footer a:hover {
  text-decoration: underline;
}

#d-nav {
  grid-area: d-nav;
}

#contact {
  grid-area: contact;
}

footer li {
  margin-bottom: 8px;
}

#social {
  grid-area: social;
}

.landing-section {
  background: var(--primary-1);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-template-areas: '. . center center center center center center center center . .';
}

.hero {
  grid-area: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title image'
    'lead image';
}

.hero-title {
  grid-area: title;
}

.hero-title h1,
.about h1 {
  color: var(--primary-2);
  margin-top: 32px;
}

.hero-title h2,
.about h2 {
  color: var(--highlight-1);
  margin-top: -16px;
}

.hero-lead {
  grid-area: lead;
}

.hero-lead p {
  max-width: 250px;
  margin-top: 16px;
  margin-bottom: 32px;
  color: var(--highlight-1);
  font-family: var(--typeface-secondary);
  font-size: 18px;
  font-weight: 500;
}

button {
  width: 200px;
  height: 48px;
  border-radius: 16px;
  font-family: var(--typeface-secondary);
  font-size: 16px;
  font-weight: 800;
  color: var(--primary-1);
  background-color: var(--primary-2);
  border: none;
  text-align: center;
}

button:active {
  background-color: var(--highlight-2);
  color: var(--highlight-1);
}

.hero-image {
  grid-area: image;
  justify-self: end;
  width: 420px;
  height: 397px;
  overflow: visible;
}

.hero-image img {
  margin-top: 30px;
  width: 420px;
  height: 420px;
  object-fit: cover;
  border-radius: 16px;
}

.specials-section {
  grid-area: center;
  padding-top: 103px;
  padding-bottom: 103px;
}

.specials-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.deck {
  width: 100%;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  background-color: var(--highlight-1);
  border-radius: 16px;
  overflow: hidden;
}

.card-image {
  height: 200px;
  overflow: hidden;
}

.card-image img {
  object-fit: contain;
  border-radius: 16px 16px 0 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-header h3 {
  margin: 1vw 0 1vw 1.5vw;
  padding: 0;
}

.card-header p {
  margin-right: 1.5vw;
  text-align: right;
  font-family: var(--typeface-secondary);
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-1);
}

.card-description {
  margin: 0 1.5vw;
  color: var(--primary-1);
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 1vw 1.5vw 1vw;
}

.card-footer p {
  font-weight: 700;
}

.testimonials-section {
  background-color: var(--highlight-2);
}

.testimonials {
  grid-area: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 114px 0 174px;
}

.testimonials h1 {
  color: var(--secondary-2);
  margin-bottom: 11px;
}

.testimonial-card {
  width: 23%;
  /* height: 100%; */
  background-color: var(--highlight-1);
  border-radius: 16px;
}

.rating {
  margin: 30px 0 10px 20px;
  color: var(--secondary-1);
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0 20px 20px;
}

.avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 16px;
}

.comment {
  margin-left: 20px;
  margin-bottom: 30px;
}

.about-section {
  background-color: var(--primary-1);
}

.about {
  grid-area: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.about-text h1 {
  margin-top: 0;
}

.about-text p {
  color: var(--highlight-1);
  max-width: 300px;
  margin-top: 10px;
}

.about-image {
  display: flex;
}

.about-image img {
  width: 18vw;
  height: 340px;
  object-fit: cover;
  border-radius: 16px;
}

.about-image img:nth-child(odd) {
  margin: 10rem 0 3rem;
}

.about-image img:nth-child(even) {
  object-position: 82%;
  margin-left: -3rem;
}
