:root {
  --primary-1: #495e57;
  --primary-2: #f4ce14;
  --highlight-1: #edefee;
  --highlight-2: #333333;
  --secondary-1: #ee9972;
  --secondary-2: #fbdabb;
  --typeface-primary: 'Markazi Text', serif;
  --typeface-secondary: 'Karla', sans-serif;
}

.reservation-landing {
  background-image: url('/src/images/restaurant.jpg');
  background-position: center;
  background-size: cover;
}

.page-title {
  grid-area: center;
  text-align: center;
  display: inline-block;
  background-color: var(--primary-1);
  border-radius: 16px;
  margin: auto;
  padding: 16px;
}

.page-title h1 {
  font-size: 40px;
  color: var(--primary-2);
  margin-bottom: 16px;
}

.page-title h2 {
  font-size: 20px;
  color: var(--highlight-1);
  text-transform: none;
}

h3.form-section-title {
  font-family: var(--typeface-secondary);
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--highlight-2);
  margin-top: 16px;
  margin-bottom: 16px;
}

form {
  grid-area: center;
}

form button {
  height: 40px;
}

input,
select {
  width: 100%;
  height: 40px;
  border-radius: 16px;
  border: 1px solid var(--highlight-2);
  font-family: var(--secondary-2);
  font-size: 16px;
  padding-left: 8px;
}

label {
  font-family: var(--typeface-secondary);
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 4px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./images/expand_more_FILL0_wght200_GRAD0_opsz24.png');
  background-repeat: no-repeat;
  background-position: 98%;
}

select:active {
  background-image: url('./images/expand_less_FILL0_wght200_GRAD0_opsz24.png');
}

form div {
  margin-bottom: 16px;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.error {
  color: red;
  margin-top: 4px;
}

.invalid {
  color: red;
  border-color: red;
}

fieldset {
  padding: 16px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  font-family: var(--typeface-secondary);
  margin-bottom: 16px;
}

input[type='radio'] {
  width: auto;
  height: auto;
}

input[type='radio']:after {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  top: -4px;
  left: -4px;
  position: relative;
  background-color: var(--highlight-1);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--primary-1);
}

input[type='radio']:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  top: -4px;
  left: -4px;
  position: relative;
  background-color: var(--primary-1);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--primary-1);
}

.radio {
  display: flex;
  align-items: center;
}

.radio label {
  padding-left: 8px;
  margin: 0;
}

textarea {
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  font-size: 16px;
  font-family: var(--typeface-secondary);
}

@media (min-width: 600px) {
  .page-title {
    margin: 32px auto;
  }

  h3.form-section-title {
    margin-top: 32px;
  }

  form button {
    margin: 16px 0;
  }
}

@media (min-width: 905px) {
  form {
    width: 840px;
    justify-self: center;
  }

  form button {
    float: right;
  }

  .page-title h1 {
    font-size: 64px;
    margin-bottom: 0px;
  }

  .page-title h2 {
    font-size: 40px;
    margin: 0 16px;
  }
}

@media (min-width: 1240px) {
  .reservation-details {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-template-areas:
      't t t t t t t t'
      'first-col first-col first-col first-col . second-col second-col second-col';
  }

  .form-section-title {
    grid-area: t;
  }

  h3.form-section-title {
    margin-top: 32px;
  }

  .reservation-first-column {
    grid-area: first-col;
  }

  .reservation-second-column {
    grid-area: second-col;
  }

  fieldset {
    border: none;
    padding-left: 0;
  }

  .contact-information {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-template-areas:
      't t t t t t t t'
      'n n n n l l l l'
      'e e e e . . . .'
      'p p p p . . . .';
  }

  .name {
    grid-area: n;
  }

  .email {
    grid-area: e;
  }

  .phone-number {
    grid-area: p;
  }

  .last-name {
    grid-area: l;
  }
}
